.sidebar{
    position: absolute;
    top: 0;
    transform: translateX(-100%);

    background-color: var(--clr-blue-primary);
    z-index: 1;
    height: 100%;
    transition: 1s;
}

.show-sidebar{transform: translateX(0)}

.curtain{
    position: absolute;
    transform: translateX(-100%);
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.show-curtain{
    transform: translateX(0);
}

.bi-x-lg{color:#fff}

.close-btn{
    background-color: transparent;
    border: none;
}

.aside-title, .list-title{color: var(--clr-yellow)}

.aside-list{
    color: #fff;
    list-style: none;
    padding: 0;
}

.aside-list li{margin-top: .5em}

.tributos__section{
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    height: 300px;
    border: 1px solid #DCDCDC;
    border-radius: 8px;
}

.tributos-title{
    color: var(--text-dark);
    padding: .5em;
}

.tributos__section p{
    margin-bottom: .5em;
    color: var(--text-dark);
}

/* .tributos__section div+div{
    border-left: 1px solid #DCDCDC;
} */

footer{
    position: fixed;
    bottom: 0;
}

.tributos-footer p, span{
    font-size: .8rem;
    color: var(--text-dark);
}

@media (max-width:576px) {
    .pay-btn{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    footer.column{justify-content: center}
    
    footer div{display: none}
}

@media (min-width: 992px) and (min-height: 600px) {
    .tributos__section{
        overflow-y: hidden;
        overflow-x: hidden;
        grid-template-columns: 2fr repeat(7, 1fr);
        height: 320px;
    }

    .tributos-footer p, span{
        font-size: 1rem;
    }
}

@media (min-width: 1200px) and (min-height: 935px){
    .tributos__section{
        height: 650px;
    }
}