.sidebar{
    position: absolute;
    top: 0;
    transform: translateX(-100%);

    background-color: var(--clr-blue-primary);
    z-index: 1;
    height: 100%;
    transition: 1s;
}

.show-sidebar{transform: translateX(0)}

.curtain{
    position: absolute;
    transform: translateX(-100%);
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.show-curtain{
    transform: translateX(0);
}

.bi-x-lg{color:#fff}

.close-btn{
    background-color: transparent;
    border: none;
}

.aside-title, .list-title{color: var(--clr-yellow)}

.aside-list{
    color: #fff;
    list-style: none;
    padding: 0;
}

.aside-list li{margin-top: .5em}

.tributos__section{
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    height: 300px;
    border: 1px solid #DCDCDC;
    border-radius: 8px;
    color: var(--text-dark);
    text-align: start;
}

.tributos{display: flex}

.tributos-title, .tributos-content{
    display: flex;
    flex-direction: column;
}

.tributos-title{
    background-color: var(--bg-tributo);
    border-right: 1px solid #DCDCDC;
    flex-basis: 40%;
    font-weight: 500;
}

.tributos-title span, .tributos-content span{
    border-bottom: 1px solid #DCDCDC;
    padding: .5em;
}

.tributos-content{flex-basis: 60%}

footer{
    position: fixed;
    bottom: 0;
}

.tributos-footer{color: var(--text-dark)}

@media (max-width:576px) {
    .pay-btn{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    footer.column{justify-content: center}
    
    footer div{display: none}
}

@media (min-width: 992px) and (min-height: 600px) {
    .tributos__section{
        overflow-y: auto;
        overflow-x: hidden;
        height: 320px;
    }

    .tributos{flex-direction: column}

    .tributos-title, .tributos-content{
        display: grid;
        grid-template-columns: 1.5fr repeat(7, 1fr);   
        text-align: center;    
        border-right: none; 
    }

    .selected{
        background-color: var(--clr-blue-secondary);
        color: #fff;
    }  
}

@media (min-width: 1200px) and (min-height: 935px){
    .tributos__section{height: 650px} 
}