.tributos__section{
    height: 300px;
    border: 1px solid #DCDCDC;
    border-radius: 8px;
}

.tributos-footer p, span{
    font-size: .8rem;
}

@media (min-width: 992px) {
    .tributos__section{
        height: 600px;
    }

    .tributos-footer p, span{
        font-size: 1rem;
    }
}