@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
        
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

html{background-color: #2765D9}

body{
    height: 100vh;
    background: linear-gradient(to bottom, #2765D9 0%, #022C90 100%);
}

.ag-logo{
    margin: .5em;
    width: 150px;
}

.btn{
    position: absolute;
    bottom: 1%;
    right: 1%;

    display: flex;
    align-items: center;
    gap: .5em;

    color: #fff;
    width: fit-content;
    padding: .5em 0;
    margin: .5em;
    border-bottom: 2.5px solid #fff;
}

.btn:hover{
    opacity: .5;
}