@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-size: 1.125rem;
}

:root{
    --clr-blue-primary:#022C90;
    --clr-blue-secondary:#2765D9;
    --clr-yellow:#FEBB01;
    --clr-light-gray:#DCDCDC;
    --clr-dark-gray:#636363;
}

header{background: linear-gradient(to right, var(--clr-blue-secondary) 0%, var(--clr-blue-primary) 100% )}

.grid__section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-item{
    border: 1px solid var(--clr-light-gray);
    border-radius: 16px;
    background-color: #EEEEEE;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn{
    background-color: var(--clr-blue-secondary);
    padding: .35em .5em;
    border-radius: 4px;
    border: none;
    color: #fff;
}

.btn:hover{opacity: .7}

#input-busca{
    border: 2px solid var(--clr-light-gray);
    border-radius: 16px;
    padding: .75em 1em;
    margin: .75em 0;
}

input::placeholder{color: var(--clr-dark-gray)}

footer{width: 100%}

@media (max-width:576px) {
    .container{padding:.5em}

    .grid__section{
        padding-top: .5em;
        gap: .5em;
    }

    .grid-item{
        padding: 1em;
        text-align: center;
    }

    .app-info p + p{
        font-size: .75rem;
        color: var(--clr-dark-gray);
    }

    header img,
    .footer-logo{width: 13vw}

    .user-msg,
    .footer-text{
        font-size: .9rem;
        color: var(--clr-dark-gray);
    }

    #input-busca{width: 100%}

    .search-box{position: relative}

    .bi-search{
        position: absolute;
        top: 50%;
        right: 6%;
        transform: translateY(-50%);
        color: var(--clr-dark-gray);
    }

    footer{
        background-color: #fff;
        /* position: fixed;
        bottom: 0; */
    }
}
