@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
}

:root{
    --clr-blue-primary:#022C90;
    --clr-blue-secondary:#2765D9;
    --clr-yellow:#FEBB01;
    --clr-light-gray:#d9d9d9;
    --clr-dark-gray:#636363;
    --clr-text: #212529;
    --bg-light: #fafafa;
}

.dark-mode:root{
    --clr-blue-primary: #FEBB01;
    --clr-light-gray: #636363;
    --clr-dark-gray: #FEBB01;
    --bg-light: #212529;
    --clr-text: #febb01;
}

body{background-color: var(--bg-light)}

header{background-color: #022C90}

p{margin-bottom: 0}

.column{
    display: flex;
    justify-content: space-between;
}

.description, .footer-text, .msg{color: var(--clr-dark-gray)}

.ag-logo{width: 15%}

.gov-logo--container{width: 50%}

.gov-logo{width: 75%}

.footer-logo{width: 20%}

.user-text{
    color: var(--clr-text);
    line-height: 1rem;
}

.user-name{font-size: 1rem;}

.user-btn{
    background-color: #022C90;
    padding: .25em .5em;
    border-radius: 50%;
    border: none;
}

.user-popover{
    --bs-popover-bg: #022C90;
    --bs-popover-body-color: #fff;
}

.popover-list{
    color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
}

.popover-list li:hover{opacity: .8}

.popover-list li + li{margin-top: .5em}

.popover-list--a{
    text-decoration: none;
    color: #fff;
}

.bi-person-fill{color: #fff}

.bi-person-fill:hover{
    opacity: .8;
    cursor: pointer;
}

.a11y-button, .filter-btn, .pay-btn{
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: .3em .6em;
    background-color: var(--clr-yellow);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
}

.filter-btn, .pay-btn{background-color: #022C90}

.a11y-button:hover, .filter-btn:hover, .pay-btn:hover{opacity: .8}

.bi-search{
    position: absolute;
    top: 55%;
    right: 4%;
    transform: translateY(-50%);
    color: var(--clr-text);
}

.search-box{margin: 1em 0}

#input-tributos{
    background-color: var(--bg-light);
    border: 2px solid var(--clr-light-gray);
    border-radius: 8px;
    padding: .75em 1em;
}

#input-tributos option{color: #636363;}

#input-busca{
    background-color: var(--bg-light);
    border: 2px solid var(--clr-light-gray);
    border-radius: 8px;
    padding: .75em 1em;
    width: 100%
}

input::placeholder{color: var(--clr-text);}

#input-busca:focus, #input-busca:hover, #input-tributos:focus, #input-tributos:hover{
    outline: none;
    border: 2px solid var(--clr-blue-primary);
}

.search-box{position: relative}

.grid-title{
    font-size: 1.35rem;
    color: var(--clr-blue-primary);
}

.grid__section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5em;
}

.grid-item{
    padding: 1em;
    text-align: center;
    border: 1px solid var(--clr-light-gray);
    border-radius: 16px;
    background-color: var(--bg-light);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    color: var(--clr-text);
}

.grid-item:hover{
    border: 1px solid var(--clr-blue-primary);
    cursor: pointer;
}

footer{
    background-color: var(--bg-light);
    width: 100%;
}

.footer-text{
    font-size: .9rem;
}

.a11y-modal{
    position: fixed;
    right: 0;
    top: 50%;
}

@media (min-width: 992px) {
    .ag-logo{width: 6vw}

    .gov-logo{width: 40%}

    .gov-logo--container{width: 50%}

    #input-busca{padding: .5em 1em}

    .search-box, .grid-title{
        width: 50%;
        margin: 0;
    }

    footer{
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .footer-logo{width: 4vw}
}

@media (min-width: 1200px) and (min-height: 600px){
    .ag-logo{width: 4vw}
    .gov-logo--container{width: 50%}
    .gov-logo{width: 20%}
    .footer-logo{width: 3.5vw}
    .grid__section{grid-template-columns: 1fr 1fr 1fr}
}