@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-size: 1.125rem;
}

:root{
    --clr-blue-primary:#022C90;
    --clr-blue-secondary:#2765D9;
    --clr-yellow:#FEBB01;
    --clr-light-gray:#DCDCDC;
    --clr-dark-gray:#636363;
}

header{
    background: linear-gradient(to bottom, var(--clr-blue-secondary) 0%, 
        var(--clr-blue-primary) 100%);
}

p{
    margin-bottom: 0;
}

.column{
    display: flex;
    justify-content: space-between;
}

.ag-logo,
.footer-logo{width: 13vw}

/* .purple{border: 1px solid purple} */
.user-info{
    line-height: 1rem;
}

.user-msg,
.description,
.footer-text{
    color: var(--clr-dark-gray);
    font-size: .8rem;
}

.yellow{border: 1px solid yellow;}
.a11y-button{
    background-color: var(--clr-blue-secondary);
    padding: .3em .6em;
    border-radius: 4px;
    border: none;
    color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
}

.a11y-button:hover{opacity: .7}

.bi-search{
    position: absolute;
    top: 50%;
    right: 6%;
    transform: translateY(-50%);
    color: var(--clr-dark-gray);
}

.search-box{
    margin: 1em 0;
}

input::placeholder{color: var(--clr-dark-gray)}

#input-busca{
    border: 2px solid var(--clr-light-gray);
    border-radius: 16px;
    padding: .75em 1em;
    width: 100%
}

#input-busca:focus,
#input-busca:hover{
    outline: none;
    border: 2px solid var(--clr-blue-secondary);
}


.search-box{position: relative}

/* .blue{border: 1px solid blue} */
.grid-title{
    font-size: 1.25rem;
    color: var(--clr-blue-primary);
}

.grid__section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5em;
}

.grid-item{
    padding: 1em;
    text-align: center;
    border: 1px solid var(--clr-light-gray);
    border-radius: 16px;
    background-color: #EEEEEE;
    box-shadow: 0 2px 4px #ccc;
}

footer{
    background-color: #fff;
    width: 100%;
}

@media (min-width: 992px) {
    .ag-logo{width: 3.5vw}

    .user-info{line-height: 1.125rem}

    .user-msg{font-size: .9rem}

    .search-box,
    .grid-title{
        width: 50%;
        margin: 0;
    }

    #input-busca{
        padding: .5em 1em;
    }

    .grid__section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    footer{
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .footer-logo{width: 2.5vw}
}