@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

:root{
    --clr-blue-primary:#022C90;
    --clr-blue-secondary:#2765D9;
    --clr-yellow:#FEBB01;
    --clr-light-gray:#DCDCDC;
    --clr-dark-gray:#636363;
    --clr-white: #fff;
}

body{
    font-size: 1rem;
}

.row{display: flex}

.section__head{background-color: var(--clr-blue-primary)}

.zzz{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.section__head a{
    color: var(--clr-white);
    text-decoration: none;
}

.return-btn{
    display: flex;
    align-items: center;
}
 
.return-btn p:before{ 
    content:"\2039";
    margin-right: .5em;
}

.gov-logo--container{
    width: 50%;
    margin: 0 auto 1em;
    display: flex;
    justify-content: center;
}

.gov-logo{width: 75%}

.forms-title{
    font-weight: 400;
    text-align: center;
}

.forms-main{margin-top: .75em}

.forms-main form{padding: .75em 0}

.forms-main form input{
    width: 100%;
    padding: 1.125em;
    border-radius: 16px;
    border: 2px solid var(--clr-light-gray);
}

.forms-main form input:focus,
.forms-main form input:active{
    outline: none;
    border: 2px solid var(--clr-blue-primary);
}

.forms-footer{justify-content: space-between}

input::placeholder{font-size: 1rem}

.section-btn{
    flex-direction: column;
    padding: 1.25em 0;
    gap: .5em;
}

.btn{
    color: var(--clr-white);
    background-color: var(--clr-blue-primary);
    text-decoration: none;
    border-radius: 16px;
    padding: .75em 0;
    text-align: center;
}

.btn:hover, .return-btn:hover{opacity: .7}

.certificado{
    justify-content: center;
    gap: .25em;
}

.voltar{
    background-color: var(--clr-light-gray);
    color: var(--clr-blue-primary);
    border: 1px solid var(--clr-blue-primary);
}

.anchor{color: var(--clr-blue-primary)}

.section-footer p{
    color: var(--clr-dark-gray);
    text-align: center;
    font-size: .8rem;
}

@media (max-width:991px) {
    .container{padding: 1em}
    .d-none{display: none}
    .ag-logo{width: 20%}
    .section__head, .forms-main p{text-align: center}

    .section__head{
        border-bottom-left-radius: 45%;
        border-bottom-right-radius: 45%;
    }

    .section__head a{
        position: fixed;
        top: 1%;
        left: 1%;        
    }

    .return-img{
        width: 20px;
    }

    .section-footer p{
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: #fff;
    }
}

@media (min-width:992px){
    .wrapper{min-height: 100dvh}
    .column{display: flex;}
    .ag-logo{width: 10%}
    .footer-logo{width: 6vw}

    .position{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        padding: 0 2em;
        width: 100%;
    }

    .section__head{
        width: 50%;
        flex-direction: column;
        justify-content: space-between;
        padding: 1em;
        background: linear-gradient(to bottom, var(--clr-blue-secondary) 0%, var(--clr-blue-primary) 100%);
    }

    .section__head p{
        color: var(--clr-white);;
        font-size: 1.5rem;
    }

    .section__main{
        position: relative;
        width: 50%;
    }

    .section-footer{
        text-align: center;
        margin-top: 1em;
    }

    .return-img{
        display: none;
    }
}

@media (min-width:1400px) {
    body{font-size: 1.25rem} 
    .section__head{width: 65%}
    .section__main{width: 45%}
}